{% extends 'cnc_mashine/base.html' %}

{% block content %}
<h1>О КОМПАНИИ СТАН62</h1>

<p>Компания СТАН62 - станков с ЧПУ, 3Д принтеров, сварочных аппаратов, а так же другого промышленного оборудования. Мы поставляем товар на российский рынок с 2009 г. Большой опыт позволяет нам снабжать российские производства современным оборудованием от ведущих мировых производителей, а разработанная логистика позволяет в кратчайшие сроки поставить практически любые устройства под заказ.</p>
<p>Мы видим своей целью сделать доступнее отечественным производителям максимально широкий спектр устройств от мировых производителей, чтобы отечественные продукты беспрестанно повышали свою конкуретноспособность. Для этого мы разработали нашу ценовую политику, и для компаний, производящих в России серийную продукцию, предусмотрены скидки и особые условия.</p>
<hr>
<h3>С нами сотрудничают такие производства как:</h3>
<ul>
    <li><a href="https://www.teplopribor.ru/">Рязанский "Теплоприбор"</a>
        <p><img src="/static/cnc_mashine/images/teplopribor.jpg"></p>
    </li>
    <li><a href="https://www.kznamya.ru/">Рязанский завод "Красное Знамя"</a>
        <p><img src="/static/cnc_mashine/images/kr_zn.jpeg"></p>
    </li>
    <li><a href="https://radiozavod.ru/">Рязанский Радиозавод</a>
        <p><img src="/static/cnc_mashine/images/radiozavod.jpg"></p>
    </li>
</ul>
<hr>
<h3>Информация для потребителя</h3>
<ul>
    <li><a href="#">Гарантийные обязательства</a></li>
    <li><a href="#">Порядок возврата товара</a></li>
</ul>
<hr>
<h3>Отзывы</h3>
<ul>
    <li><a href="#">Отзывы о СТАН62 на страницах Яндекса</a></li>
    <li><a href="#">На страницах форума CNC-Club: тема "СТАН62"</a></li>
</ul>
{% endblock %}
