{% extends 'cnc_mashine/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for c in list_cnc %}
			{% if c.photo %}
				<p><img class="img-article-left thumb" src="{{c.photo.url}}"></p>
			{% endif %}
			<li><h2>{{c.model}}</h2>
	{% autoescape on %}
	<ul class="langitem">
		<li>Рабочее поле - {{c.work_pole}}</li>
	    <li>Тип лазера - {{c.emitter_type}}</li>
		<li>Мощность лазера - {{c.power_laser}}</li>
		<li>Габариты - {{c.dimensions}}</li>
	</ul>
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ c.get_absolute_url }}">{{c.price}}</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
